In [71]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date

import pymysql
pymysql.install_as_MySQLdb()

import MySQLdb

In [37]:
Base = declarative_base()

In [3]:
populations = pd.read_csv("populations_final.csv")

In [5]:
populations.head()

,State,2007,2016,Percent Change,population_2016,population 2007,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,AK,1642.0,1940.0,18%,741894.0,710249.0,NaN,NaN,NaN,NaN
1,AL,5452.0,4111.0,-25%,4863300.0,4780127.0,NaN,NaN,NaN,NaN
2,AR,3836.0,2463.0,-36%,2988248.0,2915958.0,NaN,NaN,NaN,NaN
3,AZ,14646.0,9707.0,-34%,6931071.0,6392307.0,NaN,NaN,NaN,NaN
4,CA,138986.0,118142.0,-15%,39250017.0,37254503.0,NaN,NaN,NaN,NaN

In [20]:
populations = populations[['State', '2007', '2016', 'Percent Change', 'population_2016', 'population 2007']]

In [21]:
weather = pd.read_csv("data_sets/states_weather.csv")

In [22]:
weather.head()

        State  avg_temp_F  prcp_in  days_snowed  in_snow
0     Alabama        62.8     58.3          0.8      1.6
1      Alaska        26.6     22.5         48.0     74.5
2     Arizona        60.3     13.6          0.3      0.3
3    Arkansas        60.4     50.6          3.8      5.2
4  California        59.4     22.2          0.0      0.0

In [23]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [24]:
weather["abbreviation"] = ""

In [25]:
for index, row in weather.iterrows():
    state = row["State"]
    abbr = us_state_abbrev[state]
    weather.set_value(index, "abbreviation", abbr)

In [26]:
weather

             State  avg_temp_F  prcp_in  days_snowed  in_snow abbreviation
0          Alabama        62.8     58.3          0.8      1.6           AL
1           Alaska        26.6     22.5         48.0     74.5           AK
2          Arizona        60.3     13.6          0.3      0.3           AZ
3         Arkansas        60.4     50.6          3.8      5.2           AR
4       California        59.4     22.2          0.0      0.0           CA
5         Colorado        45.1     15.9         19.1     19.1           CO
6      Connecticut        49.0     50.3         20.1     40.5           CT
7         Delaware        55.3     45.7         11.8     20.2           DE
8          Florida        70.7     54.5          0.0      0.0           FL
9          Georgia        63.5     50.7          0.7      0.7           GA
10          Hawaii        70.0     63.7          0.0      0.0           HI
11           Idaho        44.4     18.9         19.4     19.2           ID
12        Illinois        51.8     39.2         19.9     24.6           IL
13         Indiana        51.7     41.7         23.5     25.9           IN
14            Iowa        47.8     34.0         26.2     34.9           IA
15          Kansas        54.3     28.9         10.0     14.7           KS
16        Kentucky        55.6     48.9         11.8     12.5           KY
17       Louisiana        66.4     60.1          0.1      0.0           LA
18           Maine        41.0     42.2         27.8     61.8           ME
19        Maryland        54.2     44.5          9.6     20.2           MD
20   Massachusetts        47.9     47.7         22.4     43.8           MA
21        Michigan        44.4     32.8         44.7     51.1           MI
22       Minnesota        41.2     27.3         37.3     54.0           MN
23     Mississippi        63.4     59.0          0.6      0.9           MS
24        Missouri        54.5     42.2         11.5     17.0           MO
25         Montana        42.7     15.3         32.9     38.1           MT
26        Nebraska        48.8     23.6         18.3     25.9           NE
27          Nevada        49.9      9.5         16.3     21.8           NV
28   New Hampshire        43.8     43.4         29.8     60.8           NH
29      New Jersey        52.7     47.1          8.7     16.5           NJ
30      New Mexico        53.4     14.6          9.5      9.6           NM
31        New York        45.4     41.8         66.4    123.8           NY
32  North Carolina        59.0     50.3          3.9      7.6           NC
33    North Dakota        40.4     17.8         45.2     51.2           ND
34            Ohio        50.7     39.1         30.4     27.5           OH
35        Oklahoma        59.6     36.5          5.6      7.8           OK
36          Oregon        48.4     27.4          2.2      3.0           OR
37    Pennsylvania        48.8     42.9         19.4     28.2           PA
38    Rhode Island        50.1     47.9         18.7     33.8           RI
39  South Carolina        62.4     49.8          0.3      0.5           SC
40    South Dakota        45.2     20.1         30.1     43.9           SD
41       Tennessee        57.6     54.2          6.2      6.3           TN
42           Texas        64.8     28.9          1.3      1.5           TX
43            Utah        48.6     12.2         34.8     56.2           UT
44         Vermont        42.9     42.7         54.4     81.2           VT
45        Virginia        55.1     44.3          6.1     10.3           VA
46      Washington        48.3     38.4          3.0      5.0           WA
47   West Virginia        51.8     45.2         37.7     62.0           WV
48       Wisconsin        43.1     32.6         38.7     50.9           WI
49         Wyoming        42.0     12.9         36.7     91.4           WY

In [27]:
df = weather.merge(populations, how='outer', left_on="abbreviation", right_on="State")

In [28]:
df.head()

,State_x,avg_temp_F,prcp_in,days_snowed,in_snow,abbreviation,State_y,2007,2016,Percent Change,population_2016,population 2007
0,Alabama,62.8,58.3,0.8,1.6,AL,AL,5452.0,4111.0,-25%,4863300.0,4780127.0
1,Alaska,26.6,22.5,48.0,74.5,AK,AK,1642.0,1940.0,18%,741894.0,710249.0
2,Arizona,60.3,13.6,0.3,0.3,AZ,AZ,14646.0,9707.0,-34%,6931071.0,6392307.0
3,Arkansas,60.4,50.6,3.8,5.2,AR,AR,3836.0,2463.0,-36%,2988248.0,2915958.0
4,California,59.4,22.2,0.0,0.0,CA,CA,138986.0,118142.0,-15%,39250017.0,37254503.0

In [29]:
del df['State_y']

In [30]:
df.head()

,State_x,avg_temp_F,prcp_in,days_snowed,in_snow,abbreviation,2007,2016,Percent Change,population_2016,population 2007
0,Alabama,62.8,58.3,0.8,1.6,AL,5452.0,4111.0,-25%,4863300.0,4780127.0
1,Alaska,26.6,22.5,48.0,74.5,AK,1642.0,1940.0,18%,741894.0,710249.0
2,Arizona,60.3,13.6,0.3,0.3,AZ,14646.0,9707.0,-34%,6931071.0,6392307.0
3,Arkansas,60.4,50.6,3.8,5.2,AR,3836.0,2463.0,-36%,2988248.0,2915958.0
4,California,59.4,22.2,0.0,0.0,CA,138986.0,118142.0,-15%,39250017.0,37254503.0

In [41]:
df.rename(columns={'2007': 'homeless_pop_2007', '2016': 'homeless_pop_2016'}, inplace=True)

In [42]:
df.head()

,State,avg_temp_F,prcp_in,days_snowed,in_snow,abbreviation,homelss_pop_2007,homeless_pop_2016,Percent Change,population_2016,population 2007
0,Alabama,62.8,58.3,0.8,1.6,AL,5452.0,4111.0,-25%,4863300.0,4780127.0
1,Alaska,26.6,22.5,48.0,74.5,AK,1642.0,1940.0,18%,741894.0,710249.0
2,Arizona,60.3,13.6,0.3,0.3,AZ,14646.0,9707.0,-34%,6931071.0,6392307.0
3,Arkansas,60.4,50.6,3.8,5.2,AR,3836.0,2463.0,-36%,2988248.0,2915958.0
4,California,59.4,22.2,0.0,0.0,CA,138986.0,118142.0,-15%,39250017.0,37254503.0

In [45]:
del df["Percent Change"]

In [74]:
df.to_csv("weather_homeless.csv")

In [60]:
class Homeless(Base):
    __tablename__ = 'homeless'
    State = Column(String(225), primary_key=True)
    avg_temp_F = Column(Float)
    prcp_in = Column(Float)
    days_snowed = Column(Float)
    in_snowed = Column(Float)
    abbreviation = Column(String)
    homlss_pop_2007 = Column(Float)
    homlss_pop_2016 = Column(Float)
    population_2016 = Column(Float)
    population2007 = Column(Float)

In [61]:
engine = create_engine("mysql://zu1zgsy3y1g0iekj:rh9cs673b90rmmxg@ffn96u87j5ogvehy.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/bsgneuqtl9m07jcc")

In [62]:
Base.metadata.create_all(engine)

CompileError: (in table 'homelessness', column 'State'): VARCHAR requires a length on dialect mysql

In [63]:
conn = engine.connect()

In [65]:
var = (conn.execute("show tables"))

In [72]:
db= MySQLdb.connect("ffn96u87j5ogvehy.cbetxkdyhwsb.us-east-1.rds.amazonaws.com", "zu1zgsy3y1g0iekj", "rh9cs673b90rmmxg", "bsgneuqtl9m07jcc")

cursor= db.cursor()

result = cursor.fetchall()

for i in range(len(result)):
    print(result[i])

ProgrammingError: execute() first

In [73]:
pd.df.to_sql('homeless')

AttributeError: module 'pandas' has no attribute 'df'